{% extends 'base.html' %}
{% block title %}Registrar Consumo{% endblock %}
        
{% block content %}
<div class="d-flex flex-column align-items-center">
        <h2>Registrar Consumo</h2>
        <form method="post" action="{% url 'registro_app:crear' %}">
        {% csrf_token %}
        <div class="mb-3">
            <div>
                <label for="first_name">Nombre</label>
                <input class="form-control" type="text" id="first_name" name="nombre" required readonly value="{{ usuario.first_name }}">
            </div>
            <div>
                <label for="last_name">Apellido</label>
                <input class="form-control" type="text" id="last_name" name="apellido" required readonly value="{{ usuario.last_name }}">
            </div>
            <div>
                <label for="dni">Documento</label>
                <input class="form-control" type="text" id="dni" name="documento" required readonly value="{{ usuario.dni }}">
            </div>
            <div>
                <label for="casino">Casino</label>
                <input class="form-control" type="text" id="casino" name="casino" required readonly value="{{ usuario.casino.id }}">
            </div>
            <div>
                <label for="comida">Comida</label>
                <input class="form-control" type="text" id="comida" name="comida" required readonly value="{{ comida.id }}">
            </div>
        </div>
        <button class="btn btn-success" type="submit">Confirmar</button>
    </form>
    <p><a href="{% url 'inicio' %}">Volver al inicio</a></p>
    </div>
  <p style="color:green;">{{ mensaje }}</p>
{% endblock %}


    