{% extends 'base.html' %}
{% block title %}Registrar Consumo{% endblock %}


{% block styles %}
    <style>
        .btn-check:checked + .btn {
        background-color: var(--bs-primary);
        border: 0;
        }
    </style>
{% endblock %}
    
        
{% block content %}
<div class="d-flex flex-column align-items-center container">
        <h2>Registrar Consumo</h2>
        {% if messages %}
            {% for message in messages %}
            <div class="bg-danger text-white p-2 rounded">{{ message }}</div>
            {% endfor %}
        {% endif %}
            
        <form method="post" action="{% url 'registro_app:crear' %}">
        {% csrf_token %}
        <div class="mb-3">
            <div>
                <label for="first_name">Nombre</label>
                <input class="form-control" type="text" id="first_name" name="nombre" required readonly value="{{ usuario.first_name }}">
            </div>
            <div>
                <label for="last_name">Apellido</label>
                <input class="form-control" type="text" id="last_name" name="apellido" required readonly value="{{ usuario.last_name }}">
            </div>
            <div>
                <label for="dni">Documento</label>
                <input class="form-control" type="text" id="dni" name="documento" required readonly value="{{ usuario.dni }}">
            </div>
            <div>
                <label for="casino">Casino</label>
                <select class="form-control" id="casino" disabled>
                    <option value="{{ usuario.casino.id }}">{{ usuario.casino }}</option>
                </select>
                <input type="hidden" name="casino" value="{{ usuario.casino.id }}">
            </div>
            <div class="d-flex justify-content-center gap-2 mt-2">
                {% for comida in comidas %}
                    {% if comida.habilitado %}
                        <input type="checkbox" class="btn-check" id="comida_{{ comida.id }}" 
                        name="comida" value="{{ comida.id }}">
                        <label class="btn btn-sm btn-secondary" for="comida_{{ comida.id }}">
                            {{ comida }}
                        </label>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-between gap-2">
            <button class="btn btn-success" type="submit">Confirmar</button>
            <a class="btn btn-danger" href="{% url 'registro_app:logout' %}">Cancelar</a>
        </div>

    </form>
    
</div>
    

{% endblock %}


    