{% extends 'base.html' %}
{% load static %}

{% block title %}Registro de comidas{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="//cdn.datatables.net/2.3.3/css/dataTables.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
{% endblock %}
{% block content %}
  <div class="card bg-dark text-white">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2>Registro del {{data.fecha_hoy}}</h2>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#configModal">Configuración</button>
        <a class="btn btn-danger" href="{% url 'registro_app:logout' %}">Cerrar Sesión</a>
      </div>
    </div>
    <div class="card-body">
      <div>
        <div class="row mb-3">
    <div class="col-md-4">
        <select id="filtroComida" class="form-select">
            <option value="">-- Todas las comidas --</option>
            {% for c in data.comidas %}
                <option value="{{ c.id }}">{{ c.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <select id="filtroCasino" class="form-select">
            <option value="">-- Todos los casinos --</option>
            {% for c in data.casinos %}
                <option value="{{ c.id }}">{{ c.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <input type="date" id="filtroFecha" class="form-control">
    </div>
</div>
      </div>
  <table id="registroTable" data-url="{% url 'registro_app:datatable' %}">
    <thead>
      <tr>
        <th>Fecha y Hora</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Casino</th>
        <th>Comida</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
    </div>
  </div>

  <!-- MODAL DE CONFIGURACION -->
  <div class="modal " tabindex="-1" id="configModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>
    <script src="{% static 'js/registros-datatable.js' %}"></script>
     <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
{% endblock %}